html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
    background: #1976D2;
    color: #CFD8DC;
    font-family: Lato;
    position: relative;
}
a{
    color: #171717;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}
.wraper{
    min-height: 100%;
    position: relative;
}
.body{
    padding-bottom:128px;
}
#main-info {
    padding: 10px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 35em;
}

.welcome-title, h3 {
    text-align: center;
    font-weight: 300;
    
}

#guide {
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;
    width: 25em;
}

/*Boton de ingresar al foro*/
#enterForumButton {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 150px;
    border: 3px solid #CFD8DC;
    border-radius: 50px;
    color: #1976D2;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

#enterForumButton:hover {
    background-color: #1976D2;
    color: #fff;
    transition: 0.4s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 128px;
    padding: 10px;
    background: #212121;
    margin-top: 50px;
}

.github-footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 10px;
    width: 64px;
}
